@import "~bootstrap/scss/bootstrap";

body{
    background-color: dimgray;
    overflow: hidden;
    .row{
        margin-top: 50vh;
        transform: translate(0, -50%);
        .card{
            background-color: coral;
            color:dimgray;
            border: 3px solid chocolate;
            filter: brightness(80%);
            transition: all 0.3s;
            
            &:hover{
                text-shadow: 0 0 10px #ccc;
                box-shadow: 0 0 10px #ccc;
                transform: scale(1.1);
                cursor: pointer;
                filter: brightness(100%);
                transition: all 0.3s;
            }
        
            span{
                font-weight: 400;
                font-size: 16px;
                color: white;
            }
        }
    }
}
